<h1>Your score: <%= @score %></h1>
<h2>
    <%= @message %>
</h2>

<%= if !@guess_correct do %>
<h2>
    <%= for n <- @answer_range do %>
    <a href="#" phx-click="guess" phx-value-number="<%= n %>"><%= n %></a>
    <% end %>
    <% else %>
    <a href="#" phx-click="continue">Keep going</a>
    <br>
    <a href="#" phx-click="reset">Start over</a>
    <% end %>
</h2>
<pre>
<%= @user.email %>
<%= @session_id %>
</pre>
